<div class="container mt-3">
  <div class="row">
    <div class="col-12 mb-3">
      <h1 class="text-center">Todos
        <div class="badge badge-pill badge-info">{{todos.length}} </div>
      </h1>
    </div>

    <!-- <div class="alert alert-success"> succesfully created new Todo! </div> -->

    <div class="col-12"
         *ngIf="!todos.length">
      <div class="alert alert-info">No todos found !</div>
    </div>

    <div *ngIf="todos.length"
         class="col-12">

      <div class="form-group row">
        <div class="col-12">
          <input class="form-control"
                 type="search"
                 (keyup)="searchForTodo($event)"
                 placeholder="Search for Todo by title or description"
                 id="example-search-input">
        </div>
      </div>

      <div *ngFor="let todo of todosFiltered"
           class="card mb-3">
        <h5 class="card-header">
          <span class="mr-3">
            <a (click)="todo.done = !todo.done">
              <i *ngIf="todo.done"
                 class="fa fa-check-square-o"
                 aria-hidden="true"></i>
              <i *ngIf="!todo.done"
                 class="fa fa-square-o"
                 aria-hidden="true"></i>
            </a>
          </span>
          {{todo.title}}

          <span *ngIf="todo.urgent"
                class="badge badge-danger">Urgent</span>
          <span *ngIf="!todo.done"
                class="btn btn-info btn-sm float-right">Edit</span>
        </h5>

        <div class="card-body">
          <p class="card-text">{{todo.description}}</p>
        </div>

      </div>
    </div>

    <div class="col-12 text-right">
      <!-- Button trigger modal -->
      <button type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#createNewTodoModal">
        Create new Todo
      </button>

      <!-- <div class="btn btn-success"></div> -->

    </div>
  </div>
</div>

<!-- createNewTodoModal -->
<div class="modal fade"
     id="createNewTodoModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel">create a new Todo </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form class="col-12" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="basic-addon1">insert title</span>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="ride a horse"
                       aria-label="Title"
                       aria-describedby="basic-addon1">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">insert description</span>
                </div>
                <textarea class="form-control"
                          placeholder="go to a riding school and sign up"
                          aria-label="Description"></textarea>
              </div>

              <div class="alert alert-info mt-3">
                Is this an urgent Task?
                <!-- <a (click)="todo.done = !todo.done">
                      <i *ngIf="todo.done"
                         class="fa fa-check-square-o"
                         aria-hidden="true"></i>
                      <i *ngIf="!todo.done"
                         class="fa fa-square-o"
                         aria-hidden="true"></i>
                    </a> -->
              </div>

              <button type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
              <button type="submit"
                      class="btn btn-warning float-right"> Create Todo</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
